<h1>Admin::Dashboard#show</h1>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @total_products %></span>
    Total products in database
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @total_categories %></span>
    Total categories in database
  </li>
</ul>
