<div class="jumbotron">
  <h1>About Jungle</h1> 
</div>

<section id="about-Jungle">
 <h2 class="text-primary">This is where our story begins...</h2>
 <p>Software suppliers are trying to make their software packages more ‘user-friendly’… Their best approach so far has been to take all the old brochures and stamp the words ‘user-friendly’ on the cover. (Bill Gates) The use of COBOL cripples the mind; its teaching should therefore be regarded as a criminal offense. (E.W. Dijkstra) It is not about bits, bytes and protocols, but profits, losses and margins. (Lou Gerstner) Considering the current sad state of our computer programs, software development is clearly still a black art, and cannot yet be called an engineering discipline. (Bill Clinton)

 Fine, Java MIGHT be a good example of what a programming language should be like. But Java applications are good examples of what applications SHOULDN’T be like. (pixadel) Computers are getting smarter all the time. Scientists tell us that soon they will be able to talk to us. (And by ‘they’, I mean ‘computers’. I doubt scientists will ever be able to talk to us.) (Dave Barry) Writing code has a place in the human hierarchy worth somewhere above grave robbing and beneath managing. (Gerald Weinberg) Computer language design is just like a stroll in the park. Jurassic Park, that is. (Larry Wall)
 
 Computers are like bikinis. They save people a lot of guesswork. (Sam Ewing) Computers are useless. They can only give you answers. (Pablo Picasso) That’s the thing about people who think they hate computers. What they really hate is lousy programmers. (Larry Niven) Java is, in many ways, C++–. (Michael Feldman)
 
 We are Microsoft. Resistance Is Futile. You Will Be Assimilated. (Bumper sticker) Writing in C or C++ is like running a chain saw with all the safety guards removed. (Bob Gray) Don’t worry if it doesn’t work right. If everything did, you’d be out of a job. (Mosher’s Law of Software Engineering) If debugging is the process of removing bugs, then programming must be the process of putting them in. (Edsger W. Dijkstra)</p>
</section>

